
.header_img{
    background-image: url("headerbg.jpg");
    width:100%;
    height:330px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header_text{
    text-align:right;
    margin-top:80px;
    margin-right:5%;
    color:white;
    font-size: 70px;
    font-family: 'ROUGD';
    float:right;
}
.navbar-custom {
  background-color: #212121;
  box-shadow:0px 0px 10px 10px rgba(0,0,0,1);
}
/* change the link color */
.navbar{
  padding-top:0;
  padding-bottom:0;
}
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
.navbar .nav-item{
  width:200px;
  text-align:center;
  padding-top:7px;
  padding-bottom:7px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:active,
.navbar-custom .nav-item:hover,
.navbar-custom .nav-item:hover .nav-link{
  background-color:#121212;
  color: #dddddd;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-custom{
  background-color: #4d4d4d;
  width:200px;
  margin-top:-5px;
  box-shadow:0px 10px 20px 0px rgba(0,0,0,1);
  z-index: 1;
}
.dropdown-custom .dropdown-item{
  text-align: center;
  color: white;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  animation-name:mymove;
  animation-duration:0.2s;
  border-top: 2px solid #121212;
  overflow:hidden;
}
.dropdown-custom .dropdown-item:hover{
  background-color: #373737;
  color:#dddddd;
}
@keyframes mymove {
  from {
    max-height:0px;
    font-size:0px;
    padding-top:0px;
    padding-bottom:0px;
    border-top: 2px solid #4d4d4d;
}
  to {
    max-height: initial;
    font-size:20px;
    padding-top:5px;
    padding-bottom:5px;
    border-top: 2px solid #121212;
}
}
.carousel-inner .carousel-item{
  padding-right:8%;
  padding-left:8%;
  height:720px;
}
.carousel-inner img {
  width: 100%;
  height:100%;
  object-fit: fill;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0px 7px 0px 7px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-inner .carousel-item .carousel-newcap{
  display:none;
  position:absolute;
  top:0px;
  right:8%;
  height:100%;
  min-width: 22%;
  max-width:22%;
  animation-name:mymove2;
  animation-duration:0.7s;
  overflow: hidden;
}
.carousel-item:hover .carousel-newcap {
  display: block;
}
.carousel-inner .carousel-item .carousel-newcap .box1{
  background-color: rgba(77, 77, 77, 0.7);
  box-shadow: inset 0px 0px 20px 20px rgba(0,0,0, 0.7);
  color:white;
  height:20%;
  font-size:40px;
  border-top-left-radius: 10px;
  border-left:2px solid rgba(0,0,0, 0.7);
  border-top:2px solid rgba(0,0,0, 0.7);
  text-align: center;
  padding:5% 5% 0 5%;
}
.carousel-inner .carousel-item .carousel-newcap .box2{
  height:80%;
  background-color: rgba(153, 153, 153, 0.7);
  color:black;
  border-bottom-left-radius: 10px;
  font-size:18px;
  border-left:2px solid rgba(0,0,0, 0.7);
  border-bottom:2px solid rgba(0,0,0, 0.7);
  padding:2% 5% 5% 5%;
}
@keyframes mymove2 {
  from {
    min-width: 0px;
    max-width:0px;
}
  to {
    min-width: 22%;
    max-width:22%;
}
}
.header_box{
  margin-left:8%;
  margin-top:4%;
  font-size:50px;
  font-weight: bold;
  color: white;
  animation-name:mymove3;
  animation-duration: 1s;
}
.main_box{
  margin-left:auto;
  margin-right:auto;
  width:84%;
  border: 2px solid #4d4d4d;
  border-radius:15px;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  animation-name:mymove3;
  animation-duration: 1s;
}
.card_custom{
  width:300px;
  margin-top:20px;
  margin-bottom:20px;
  background-color: #4d4d4d;
  margin-left:10px;
  margin-right:10px;
  animation-name:mymove3;
  animation-duration: 1s;
}
.card_custom .card-title{
  text-align:center;
  font-size:20px;
  font-weight: bold;
  height:70px;
}
@keyframes mymove3{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.loading-icon {
  display:none;
  width:200px;
  height:200px; 
  margin: 0 auto 0 auto;
}
.pagination .page-link{
  background-color:#24242f;
  color:white;
  border: 1px solid #008000;
}
.page-item.disabled .page-link {
  background-color: #373737;
  color: #888888;
  border: 1px solid #4d4d4d;
}
.page-item.active .page-link {
  background-color: #4d4d4d;
  color: white;
  border: 1px solid green;
}
.page-link:focus, .page-link:hover {
  background-color: #4d4d4d;
  color: white;
  border: 1px solid green;
}
._movieDetail{
  width:100%;
  height:max-content;
  display:block;
}
._movieInform{
  height:max-content;
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  background-size:cover;
  background-repeat: no-repeat;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
._movieInformImg{
  background-color:transparent;
  margin-top:10%;
  width:25%;
  box-shadow: 10px -10px 10px 5px black;
}
._movieInformText{
  background-color:transparent;
  height:auto;
  width: max-content;
  font-size:20px;
  border:2px solid green;
  color:white;
  box-shadow: 10px -10px 10px 5px black;
  background-color:#373737;
  border-top-right-radius:10px;
  padding:2%;
}
._movieInform img {
  width: 100%;
  height:100%;
  object-fit: fill;
  border: 8px solid #cccccc;
  border-style:outset;
}
._movieOverview{
  width:100%;
  height:max-content;
  font-size:20px;
  color:white;
  padding:2%;
}
._genresBox{
  padding:2px;
  color:white;
  background-color:#888888;
  border: 2px solid #212121;
  border-radius:10px;
  display:inline-block;
}
._peopleCustomCard{
  height:100%;
  width: 200px;
  display: inline-block;
  background-color: #4d4d4d;
  margin-left:10px;
  margin-right:10px;
  overflow: auto;
}
._peopleCustomCard img:hover {
  cursor: pointer;
}
._castBox{
  height:30%;
  width:100%;
  overflow: auto;
  white-space: nowrap;
}
._selectBox{
  background-color:#373737;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:2px solid #373737;
  padding:10px;
  width:8%;
  text-align: center;
  display:inline-block;
  font-weight: bold;
  color:white;
  font-size:20px;
  margin-bottom:-2px;
  margin-top:5px;
}
._selectBox:hover{
  color:#ffffff;
  background-color:rgba(0,150,0);
  border: 2px solid #373737;
  border-bottom: 0px;
  padding-bottom:12px;
}
.activeBox{
  background-color:green;
  border:2px solid #4d4d4d;
  padding-top:20px;
  width:9%;
  border-bottom:2px solid green;
  color:#ffffff;
  margin-top:0px;
}
.reviewBox{
  margin-left:8%;
  width:84%;
  border: 2px solid #4d4d4d;
  border-radius:15px;
}
#reviewPlace{
  width:60%;
  margin:2%;
}
.review-content{
  max-height:200px;
  width:100%;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color:white;
  margin-bottom:2%;
}
